:root {
  /* Colors */
  --gray-lightest: rgba(0, 0, 0, 0.5);
  --gray-light: #f8f9fa;
  --gray-medium: #dee2e6;
  --gray-dark: rgba(0, 0, 0, 0.65);

  /* Brand Colors */
  --brand-primary: #d62a9d;
  --brand-secondary: #34aadc;
  --brand-success: #4cd964;
  --brand-warning: #ff9500;
  --brand-light: #fff;
}
